.chainlit/translations
# Ignore root-level Chainlit translations directory
*/.chainlit/translations

*/volumes/postgres/*
*/postgres/global/*
*/postgres/*
!*/postgres/.gitkeep

*/migration_lock.toml

# If the chainlit repo is available here for reference
# by a coding agent, don't include it in the project repo
/chainlit

*/.data/postgres/*
# Ignore contents of root-level postgres directory, keep the dir
/postgres/*
# Ignore contents of root-level volumes directory, keep the dir
/volumes/*
volumes/postgres/*
*.egg-info

.DS_Store

uv.lock
*/.env

__pycache__
*.pyc

.notes.md